<script type="">
   $(document).ready(function(){
    var url = window.location;
        $('ul.navbar-nav a[href="' + url + '"]').parent().addClass('active');
        
        $('ul.navbar-nav a').filter(function () {
            return this.href == url;
           }).parent().addClass('active').parent().parent().addClass('active');
         });

      $(document).ready(function(){
    var url = window.location;
        $('ul.navbar-nav .dropdown-menu a[href="' + url + '"]').parent().parent().addClass('active');
        
        $('ul.navbar-nav .dropdown-menu a').filter(function () {
            return this.href == url;
           }).parent().parent().addClass('active').parent().parent().addClass('active');
         });
</script>
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container">

        <a href="index.html" class="navbar-brand elf_logo"><img src="webroot/img/elf_logo.png" class="img-fluid" alt="elf_logo"></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto topnav">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle speak" data-toggle="dropdown">Courses</a>
                    <div class="dropdown-menu">
                                <a href="readphonics-class-lkgukg.html" class="dropdown-item">Learn to Read Phonics (LKG-UKG)</a>
                            <a href="speakearly-class-lkgukg.html" class="dropdown-item">Speak Early (LKG-UKG)</a>
                            <a href="starreader-class-1to2.html" class="dropdown-item">Star Reader (Classes 1-2)</a>
                            <a href="speakup-class-1to2.html" class="dropdown-item">Speak Up (Classes 1-2)</a>
                            <a href="fastfluency-class-3to5.html" class="dropdown-item">Fast Fluency (Classes 3-5)</a>
                    </div>
                </li>
                 <li class="nav-item">
                    <a href="howitworks.html" class="nav-item nav-link speak">How it works </a>
                </li>
                <li class="nav-item">
                    <a href="blog.html" class="nav-item nav-link speak">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="aboutus.html" class="nav-item nav-link speak">About Us</a>
                </li>
            
            </ul>
            <div class="navbar-nav  ml-auto">
                <a href="#" class="nav-item nav-link"><img src="webroot/img/whatsapp-logo.png" alt="whatsapp-logo" class="whatsapp-logo">+91 96001 86000</a>
            </div>
        </div>
      </div>
    </nav>
