.main_blog{
	margin-top: 10%;
}
.main_blog1{
    margin-top: 10%;
}
.read_blog{
	padding: 2% 7% 1%;
    box-shadow: 0px 0px 6px 0px #ccc;
    border-radius: 0px 28px 28px 0px;
}
.main_blog1 img {
    width: 100%;}
.main_blog img {
    width: 100%;
    border-radius: 28px 0px 0px 28px;
}
.blog_more{
	padding: 0;
}
.read_blog1 p{
	font-size: 16px;
    margin-top: 3%;
}
.read_blog1{
	padding: 0 10%;
}
.read_blog p{
	font-size: 16px;
    margin-top: 5%;
}
.read_blog h2{
	color: #fd4d40;
	font-size: 27px;
}
.read_blog2 h2{
	color: #fd4d40;
	font-size: 32px;
}
.read_blog2 h2{
	font-size: 29px;
}
.blog_ul{
	padding: 0 16px;
    line-height: 32px;
}
.read_blog1 h3{
	color: #fd4d40;
	font-size: 24px;
}
.blog_read {
    float: right;
    background: #fd4d40;
    color: #fff;
    font-size: 14px;
    padding: 0 8px 2px;
  }
  .row_blog{
  	margin-top: 5%;
  }.blog_margin{
  	    margin-top: 58px;
  }
.read_blog img{
	width: 100%;
}
.blog_read:hover {
    color: #feffff !important;
    text-decoration: none !important;
}
@media (min-width:320px){
    .main_blog img {
    width: 100%;
    border-radius: 28px 28px 0px 0px;
}
.read_blog2 h2 {
    font-size: 24px;
}
.main_blog {
    margin-top: 32%;
}
.main_blog1 {
    margin-top: 32%;
}
.read_blog1 h3 {
    color: #fd4d40;
    font-size: 20px;
}
.read_blog h2 {
    color: #fd4d40;
    font-size: 19px;
}
.blog_margin {
    margin-top: 13px;
}
.read_blog {
    padding: 4% 7% 6%;
   border-radius: 0px 0px 28px 28px;


    }
}
@media (min-width:1200px){
	.read_blog2 h2 {
    font-size: 29px;

}.read_blog {
    padding: 2% 7% 1%;
    border-radius: 0px 28px 28px 0px;
}
.blog_margin {
    margin-top: 58px;
}
.read_blog h2 {
    font-size: 27px;
}
.main_blog {
    margin-top: 10%;
}
.main_blog1 {
    margin-top: 10%;
}
.read_blog1 h3 {
    font-size: 24px;
}
.main_blog img {
    width: 100%;
    border-radius: 28px 0px 0px 28px;
}
}