.about_elf_h1 h2{
    font-family: 'Fredoka One', cursive;
    color: #fd4d40;
    font-size: 36px;
    margin-top: 7%;
}
.explore_course h1 {
    font-size: 36px;
}
.explore_course1 img {
    width: 6%;
    margin-top: 5%;
}
.explore_course p {
    font-size: 19px;
} 
.slick-dots li button {
   display: block !important;
}
.main_school_student{
    background: #c8eaf5;
    margin-top: 4%;
}
.slick-slide img {
    display: inline-block !important;
}
.slick-slide h3 {
      font-size: 14px;
    color: #757575;
    text-align: center;
}
.slick-slide p {
    text-align: center;
}
.school_program img{
  width: 100%;
}
.two-col1 {
    grid-template-columns: 30% 70%;
    margin-top: 8%;
    padding: 0 5% 3% 0;
}
.school_para p{
    font-size: 18px;
    line-height: 34px;
    font-family: Livvic-Medium;
}
.school_para h3{
    color: #35a63f;
    font-size: 33px;
    font-family: Livvic-Medium;
    letter-spacing: 1px;
    margin: 3% 0;

}
hr{
    margin-top: 2rem;
    color: #35a63f;
    border-top: 2px solid;
}
.main_class_prog{
    margin-top: 5%;
    box-shadow: 0px 0px 22px 0px #a09f9fcc;
    padding: 0
}
.main_lab{
    background-color: #602d91;
    padding: 3% 0 2%;
    margin-top: 4%;
}
.main_lab h2{
    color: #fff;
    font-family: 'Fredoka One',cursive;
    margin: 3% 0 2%;
    font-size: 33px;
}
.main_lab span{
    color: #fff;
    font-size: 25px;
    padding: 0 14px;
}
.school_logo{
    background: #ffff;
    padding: 0 8px 5px;
    border-radius: 8px;
    width: 311px;
}
.main_school_students{
  margin-top: 0 !important;
}
.items1 img{
  width: 100%;
}
.items1 h3{
      font-size: 17px;
    color: #333;
    text-align: center;
}